{% extends "base.html" %}
{% block content %}
<div class="bg-card-dark border border-border-dark rounded-xl overflow-hidden">
<table class="w-full text-center">
<thead class="bg-[#1e3419]">
<tr>
  <th class="p-4 text-xs text-text-secondary">Time</th>
  <th class="p-4 text-xs text-text-secondary">Device</th>
  <th class="p-4 text-xs text-text-secondary">Image</th>
  <th class="p-4 text-xs text-text-secondary">Disease</th>
  <th class="p-4 text-xs text-text-secondary">Stress</th>
  <th class="p-4 text-xs text-text-secondary">Status</th>
</tr>
</thead>
<tbody id="tableBody" class="divide-y divide-border-dark text-sm"></tbody>
</table>
</div>
<script>
function openCase(id) {
  window.location = `/analysis/?reading=${id}`;
}
function updateDashboard() {
  fetch("/latest/")
    .then(res => res.json())
    .then(data => {
      if (!data.length) return;

      let labels = [], t = [], h = [], s = [], p = [], rows = "";

      data.forEach(r => {
        labels.push(r.time);
        t.push(r.temperature);
        h.push(r.humidity);
        s.push(r.soil);
        p.push(r.ph);

        rows += `
        <tr class="hover:bg-white/5 cursor-pointer" onclick="openCase(${r.id})">
          <td class="p-4">${r.time}</td>

          <td class="p-4 text-xs text-text-secondary max-w-xs truncate" title="${r.decision}">
            ${r.device}
          </td>

          <td class="p-4 text-center">
            <div class="flex justify-center items-center">
              <img src="${r.image}"
                  class="w-12 h-12 rounded-lg object-cover border border-border-dark"/>
            </div>
          </td>
          
          <td class="p-4 font-semibold ${r.disease.toLowerCase().includes("healthy") ? "text-primary" : "text-red-400"}">
            ${r.disease}
          </td>

          <td class="p-4 font-semibold ${r.stress === "High" ? "text-red-400" : "text-primary"}">
            ${r.stress}
          </td>

          <td class="p-4">
            <span class="px-3 py-1 rounded-full text-xs font-bold ${
              r.alert ? "bg-red-500/20 text-red-500" : "bg-primary/20 text-primary"
            }">
              ${r.alert ? "ALERT" : "NORMAL"}
            </span>
          </td>
        </tr>`;
      });

      tableBody.innerHTML = rows;

      const last = data[data.length - 1];

      tempValue.textContent = last.temperature + "°C";
      humidValue.textContent = last.humidity + "%";
      soilValue.textContent = last.soil + "%";
      phValue.textContent = last.ph;

      [tempChart, humidChart, soilChart, phChart].forEach((c, i) => {
        c.data.labels = labels;
        c.data.datasets[0].data = [t, h, s, p][i];
        c.update();
      });
    });
}

setInterval(updateDashboard, 5000);
updateDashboard();
</script>
{% endblock %}